.badge {
  font-size: 12px;
  border-radius: 1em;
  width: 80px;
  height: 17px;
  padding: 1px 5px;
  margin: 0px 5px;
  border: none;
  outline: none;
}

.try-it:hover {
  cursor: pointer;
}

.try-it {
  background: aquamarine;
  color: rgb(54, 54, 54);
}

.deprecated {
  background: rgb(150, 149, 149);
  color: black;
}
