.overlay-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: fit-content;
  height: fit-content;
  background: white;
  border-radius: 1em;
}

.modal .title {
  display: flex;
  border-bottom: 1px solid black;
}

.modal .title h1 {
  flex-grow: 1;
  font-size: large;
  margin: 0;
}

.modal .quit {
  height: fit-content;
  width: fit-content;
  border: none;
  background: none;
}